form{
    display: flex;
    flex-direction: column;
    width: 100%; 
    margin: 0 auto;
    gap: 10px;
    box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
    3px 3px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-color: aliceblue;
    border-radius: 10px;
    h1{
        text-align: left;
    }
    button{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }

}

label, input, select{
    width: 100%;
}

button{
    width: fit-content;
}

label, input, select, button{
    font-size: 20px;
}

label{
font-weight: 500;
}

input,select{
    border: none;
    padding: 3px 6px;
    text-decoration: none;
}

input:focus{
    outline: none;
    border-bottom: 2px solid #ccc; 
}

select:focus{
    outline: none;
    border-bottom: 2px solid #ccc; 
}


