.checkbox-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 10px;
    
     

      & label {        
        position: relative; 
        cursor: pointer;
        width: calc(100% * 1/7 - 6px);
        margin: 3px;
        
        
        & input[type="checkbox"] {
          position: absolute;
          opacity: 0;
        }
        
        & :checked ~ .icon-box {
          box-shadow: inset -2px -2px 5px rgb(218, 218, 218),
                inset 3px 3px 5px rgba(0, 0, 0, 0.1);
          
        }
        
        & .icon-box {  
        background-color: rgb(255, 255, 255);    
          padding: 3px;
          font-size: 14px;
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: -2px -2px 5px rgba(255, 255, 255, 1),
                3px 3px 5px rgba(0, 0, 0, 0.1);

          
        }
      }
    }
  