
@use "../abstracts/styling" as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  "Red Hat Display", sans-serif;
}

body{
  background-color: $body-bg-clr;
}

button {
    background-color: $button-background-color;
    color: $button-text-color;
    border: none;
    border-radius: $button-border-radius;
    padding: 8px 13px; 
    font-size: 16px; 
    cursor: pointer;
    box-shadow: $button-box-shadow;
    transition: all 0.3s ease; 
    margin-top: 15px;
   
    &:hover {
      background-color: darken($button-background-color, 10%); 
    }
  }

  nav{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   margin-left: 20px;
  }

  nav a {
    text-decoration: none;    
    font-size: 20px;
    font-weight: 500;    
  }

  .main{
    display: grid;
    grid-template-columns: 2fr 6fr 1fr;
    max-width: 1280px;
    margin: 0 auto;
  }
