$todo-yellow: #faedcb;
$todo-green: #c9e4de;
$todo-blue: #c6def1;
$todo-purple: #dbcdf0;
$todo-pink: #f2c6de;
$todo-orange: #f7d9c4;
$todo-txt: #333333;

$body-bg-clr: #faf0e6;

$button-background-color:rgb(51, 51, 51) ; 
$button-text-color: #faf0e6; 
$button-border-radius: 8px; 
$button-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
